.container {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

textarea {
    resize: none;
}

#text_to_speak {
    resize: none;
}

#logo {
    border: none;
    outline: none;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
